<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Загрузка звука в Blob с помощью Fetch</title>
</head>
<body>
<button id="loadButton">Загрузить звук</button>
<div id="blobId"></div>

<script>
document.getElementById('loadButton').addEventListener('click', function() {
    fetch('http://192.168.0.13:8000/sound/8')
    .then(response => response.blob())
    .then(blob => {
    	console.log(blob);
        var blobUrl = URL.createObjectURL(blob);
        console.log(blobUrl);
        var blobIdElement = document.getElementById('blobId');
        var blobId = blobUrl.split('/').pop(); // Получение ID блоба из URL
        blobIdElement.innerHTML = 'ID загруженного Blob: ' + blobId;

        // Создание ссылки для открытия в soundpad
        var soundpadUrl = 'soundpad://sound/' + blobId;

        // Создание элемента ссылки
        var soundpadLink = document.createElement('a');
        soundpadLink.href = soundpadUrl;
        soundpadLink.textContent = 'Открыть в SoundPad';
        soundpadLink.style.display = 'block'; // Делаем ссылку блочным элементом для отображения на отдельной строке
        soundpadLink.target = '_blank'; // Открываем ссылку в новой вкладке

        // Добавляем ссылку к документу
        blobIdElement.appendChild(soundpadLink);
    })
    .catch(error => {
        console.error('Произошла ошибка при загрузке файла:', error);
    });
});
</script>
</body>
</html>